@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Confirm";
}

<h3 class="text-danger">Confirm Email.</h3>
@{
   if (String.IsNullOrEmpty(ViewBag.errorMessage))
   {
      <h4 class="text-danger">Please check your email to confirm and login.</h4>
   }
   else
   {
      <h4 class="text-danger">@ViewBag.errorMessage</h4>
   }
}
