.login-panel{
    margin-top:125px;
}

.btn-height{
    height:45px;
    text-align :left  ;
    font-size :18px;
}

.budgetimage{
    text-align :left ;

}

h1,h2,h3,h4,h5,h6{
    font:bold !important ;
}

.landing-image{
    text-align:center ;
}

.my-footer{
    text-align:center;
}

#welcome{
    text-align :center;
}

.editcat-button .fa, .deletecat-button .fa, .edit-button .fa, .delete-button .fa, 
    .edittran-button .fa, .deletetran-button .fa, .editbudgetitem-button .fa,
    .deletebudgetitem-button .fa{
    font-size:20px;
}

.negative{
    color:red;
}

#page-wrapper{
    background-color:#FBFBFB;
}

.panel-body{
    background-color:#FBFBFB;
}
/** {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/

