.login-panel{
    margin-top:125px;
}

.btn-height{
    height:45px;
    text-align :left  ;
    font-size :18px;
}

.budgetimage{
    text-align :left ;

}

h1,h2,h3,h4,h5,h6{
    font:bold !important ;
}

.landing-image{
    text-align:center ;
}

.my-footer{
    text-align:center;
}

#welcome{
    text-align :center;
}
