@model Budgeter.Models.CodeFirst.Transaction

<h3>Dashboard</h3>
<hr />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="bar-chart" style="height:250px;"></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div>@Html.Action("_TransactionList", "Transactions")</div>
        </div> 
        <div class="col-md-7">
            <div>@Html.Action("_AccountList", "BankAccounts")</div>
            <div id="donut-chart" style="height:200px;"></div>
        </div>
    </div> 
</div> 

@section scripts{

    <script>
        $.post('@Url.Action("DonutChartDashboard","Households")').then(function (response) {
            new Morris.Donut({
                element: 'donut-chart',
                data: response,
                resize: true
            });
        });

        $.post('@Url.Action("BarChartDashboard","Households")').then(function (response) {
            new Morris.Bar({
                element: 'bar-chart',
                data: response,
                xkey: 'y',
                ykeys: ['a', 'b'],
                labels: ['Budget', 'Actual'],
                resize: true
            });
        });

    </script>
}